/***GENERAL STUFF***/
body {

    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

button {
    cursor: pointer;
}
/***GENERAL STUFF-END***/







#game{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    height: 93.2vh;
    width: 92vw;

}





/*********************CONTROLS SECTION*********************/
.control{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    width: 16vw;
    height: 39vw;
}

/***TIMER AND RESTART BUTTON***/
.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#countdown {
    font-size: 3vw;
    margin-top: 0rem;
}

.timer button {
    color: white;
    display: flex;
    height: 4.1vw;
    width: 14vw;
    font-size: 3vw;
    align-items: center;
    justify-content: center;
    background-color: #0099dd;
    border: #9cefff solid 3px;
    border-radius: 2rem;
}


/***ARROWS***/
.arrowControl {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;


    width: 10vw;
    height: 10vw;
}

.arrowControl button{
    width: 5vw;
    height: 5vw;

    border: none;
    background-color: transparent;
    cursor: pointer;

}

.arrowControl button img{
    width: 5vw;
    height: 5vw;
}


/***INNER ARROWS***/
.flexarrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#arrUpid{
    margin-bottom: 3.5vw;
}

/*********************CONTROLS SECTION-END*********************/

















/*********************LEVELS*********************/
.levels h1{
    color: #000000;
}
.levels li button{
    border-radius: .5rem;
}
.starter li button, h1.starter {
    background-color: #95b241;
    border: #44501d solid 2px;
    margin-inline: .1rem;
    color: #000;
}

.junior li button, h1.junior {
    background-color: #cbb649;
    border: #6E6328FF solid 2px;
    margin-inline: .1rem;
    color: #2d2d2d;
}

.expert li button, h1.expert {
    background-color: #cb1f2d;
    border: #81131d solid 2px;
    margin-inline: .1rem;
    color: #ffffff;
}

.master li button, h1.master {
    background-color: #6d2e78;
    border: #431d4b solid 2px;
    margin-inline: .1rem;
    color: #ffffff;
}

.wizard li button, h1.wizard {
    background-color: #065d9c;
    border: #04395e solid 2px;
    margin-inline: .1rem;
    color: #ffffff;
}
/*********************LEVELS-END*********************/








/*********************BOARD*********************/
#board {

    border-radius: 10px;
}

.boardborder1 {
    border: 10px solid #5D2901;
    border-radius: 0.5rem;
    background-color: #87440F;
}

.boardborder2 {
    border: 15px solid #87440F;
    border-radius: 1.25rem;
    background-color: #87440F;
}

.boardborder3 {
    border: 6px solid #5D2901;
    border-radius: 1.5rem;
    background-color: #5D2901;
}

.boardborder4 {
    border: 5px solid #000;
    border-radius: 1.75rem;
    background-color: #000;
    width: 39vw;
}

#board img {
    vertical-align: top;
    height: 25%;
    width: 25%;
}
/*********************BOARD-END*********************/




/*********************BOTTOM BAR*********************/
#horizonatal_bar{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 3rem;
    background-color: #95b241;
}
/*********************BOTTOM BAR-END*********************/





/*********************HOW TO PLAY*********************/
button.tutorial_button{
    position: absolute;
    margin: .5rem;
    background-color: #0099dd;
    border: #9cefff 3px solid;
    border-radius: 1rem;
    font-size: large;
    left: 0;
    bottom: 0;
}

/****POPUP****/
.dialog {
    max-width: 40%;
    background-color: #0099dd;
    border-color: #9FC0DCFF;
    border-radius: 2rem;
}

.tutoriallist {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tutoriallist button {
    width: 20%;
    min-width: 5rem;
    border-color: #5D2901;
    background-color: #87440F;
    border-radius: .5rem;
}

.tutoriallist ul {
    margin: 0;
    padding: 0;
}

.tutoriallist li {
    margin: 0;
    padding-bottom: 1rem;
    list-style: none;
}

/*********************HOW TO PLAY-END*********************/










/*DESKTOP*/
@media only screen and (min-width: 36rem) {

    /*********************VERTICAL BAR WITH TEXT*********************/
    #vertical_bar{
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 7vw;
        background-color: #95b241;
    }

    .dificulty h1{
        color: white;

        padding: 0;
        margin: 0;
        border: none;

        position: absolute;
        right: -2.6vw;
        top: 8rem;

        font-size: 4vw;

        transform: rotate(-90deg);
    }
    /*********************VERTICAL BAR WITH TEXT-END*********************/



    /*********************VERTICAL LEVELS*********************/
    /*********************LEVELS-BOX*********************/
    .levels{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 22vw;
        height: 39vw;



        background-color: #87440F;

        border: 5px solid #000;
        border-radius: 1.75rem;

    }

    .levels nav{
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 18.25vw;
        overflow: visible;
        list-style: none;

        padding: 0;
        margin: 0;

        height: 33vw;
    }

    .levels ul{
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 17vw;
        overflow: visible;
        list-style: none;

        padding: 0;
        margin: 0;
    }

    .levels li button {
        width: 100%;
        height: 3rem;
        margin-block: 1px;
        font-size: large;


    }
    .levels nav{
        background-color: #87440F;
        border: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        vertical-align: top;
        margin-top: 0;

    }
    .levels h1{
        margin-bottom: 1rem;

    }
    /*********************LEVELS-BOX-END*********************/
    /*********************VERTICAL LEVELS-END*********************/

}








/*MOBILE*/
@media only screen and (max-width: 35.9rem) {


    #game{
        flex-direction: column;
        width: 100vw;
    }

    .boardborder4 {
        width: 85vw;
    }


    .dificulty h1{
        color: white;
        border: none;
        text-align: center;

        padding: 0;
        margin: 0;
        margin-bottom: 1rem;

        font-size: 2rem;
        height: 3rem;
        width: 100vw;
    }


    .control{
        width: 85vw;
    }




    /*********************BOTTOM BAR AND HOW TO PLAY BUTTON*********************/
    button.tutorial_button{
        position: absolute;
        left: 0;
        bottom: -58vw;
    }
    #horizonatal_bar{
        position: absolute;
        bottom: -58vw;
        right: 0;
        width: 100vw;
        height: 3rem;
    }
    /*********************BOTTOM BAR AND HOW TO PLAY BUTTON-END*********************/




    /*********************TIMER AND RESTART*********************/
    #countdown {
        font-size: 8vw;
        margin-bottom: 1.5rem;
        margin-top: 20vw;
    }

    .timer button {
        height: 10vw;
        width: 35vw;
        font-size: 8vw;
    }
    /*********************TIMER AND RESTART-END*********************/




    /*********************ARROWS*********************/
    .arrowControl {
        width: 20vw;
        height: 20vw;

        margin-top: 18vw;
    }

    .arrowControl button{
        width: 15vw;
        height: 15vw;
    }

    .arrowControl button img{
        width: 15vw;
        height: 15vw;
    }

    #arrUpid{
        margin-bottom: 15vw;
    }
    /*********************ARROWS-END*********************/





    /*********************HORIZONTAL LEVELS*********************/
    .levels{
        margin-top: 10vw;
    }

    .levels nav, .levels ul {
        display: flex;
        flex-direction: row;
    }

    .levels nav {
        width: 80vw;
        overflow-x: scroll;
        border-inline: black 2px solid;
        margin-bottom: 1rem;
    }

    .levels ul {
        list-style: none;
        padding: 0;
        margin: .5rem;
    }

    .levels li button {
        padding-inline: .5rem;
    }

    .levels h1 {
        text-align: center;
        margin-bottom: 0;
        margin-top: .5rem;
    }
    /*********************HORIZONTAL LEVELS-END*********************/

}